<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="pgg.news">

    <application android:theme="@style/AppTheme">

        <activity
            android:name="pgg.main.NewsCenterActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="pgg.detail.NewsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>